/* Tambahkan kode CSS kalian di file ini */
body {
    background-color: grey;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    margin: 0;
    padding: 0 20px 0 20px;
    background-color: white;
    color: black;
    align-items: center;
}

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    width: 75px;
}

#logo {
    width: 50px;
    height: 50px;
    margin: 0 0 0 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

#logo a {
    color: black;
    text-decoration: none;
}

.navbar div {
    display: flex;
    align-items: center;
}

.navbar div ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 0 10px 0 30px;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 0 3px 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#menu ul li{
    margin-left: 0 30px 0 20px;
}

#menu .dropdown ul {
	display: none;
	position:absolute;
	top: 30px;
	background-color: white;
	border: 1px solid #333;
	padding: 10px;
}

#menu .dropdown:hover ul {
    margin-top: 15px;
	display: block;
}

#menu .dropdown ul li {
	margin: 5px 0;
}

#menu .dropdown ul li a {
	color: black;
	text-decoration: none;
	padding: 5px 0;
}

#profile ul a{
    display: flex;
    align-items: center;
}

#profile ul a li{
    margin: 0;
    padding: 0;
}

#profile img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

#description {
    background-color: black;
    border: 10px solid black;
    border-radius: 24px;
	font-weight: bold;
	font-size: 16px;
    color: white;
    margin-right: 60px;
}

main {
    margin: 10px 400px;
    padding: 0;
    display: block;
    text-align: center;
    border: 2px solid black;
}

main h1 {
    margin: 20px;
    text-align: center;
    color: white;
    font-size: 36px;
}

main form {
    display: flex;
    flex-direction: column;
}

main form input {
    margin: 10px;
    font-size: 24px;
}

main form label {
    margin: 10px;
    font-size: 20px;
}

main form button {
    margin: 10px 300px;
    font-size: 16px;
}

#warning {
    margin: 5px 0 50px 0;
}

footer {
    color: aliceblue;
    background-color: #333;
    padding: 20px;
    text-align: center;
}

footer a {
    padding: 10px;
    color: white;
}

footer p {
    color: rgb(150, 150, 150);
}
